<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>infopub</display-name>

	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- session超时为：一百个小时 -->
	<session-config>
		<session-timeout>6000</session-timeout>
	</session-config>

	<!-- -->
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>org.pxxy.web.action.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<!-- -->
	<servlet>
		<servlet-name>info</servlet-name>
		<servlet-class>org.pxxy.web.action.InfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>info</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
	<!-- -->
	<servlet>
		<servlet-name>category</servlet-name>
		<servlet-class>org.pxxy.web.action.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>category</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
	
	<!-- 字符编码转换 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.pxxy.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>